.studentProfile-main {
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
}

.studentProfile-wrapper {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    background-color: tan;
    text-align: center;
}

.form-student {
    text-align: start;
}

.btn-student {
    margin-top: 20px;
}

.student-label {
    margin-top: 30px!important;
    font-size: 20px!important;
}