.success-main {
    height: 100vh;
    padding-top: 200px;
}

.success-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mail-img {
    width: 500px;
}

.text-success-message {
    text-align: start!important;
    color: rgb(6, 121, 6);
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 1070px) {
    .mail-img{
        width: 300px;
    }
  }