.tutorsignup-main {
  height: 100%;
  background-image: url(../../assets/images/tutorsignup.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px!important;
}

.signup-wrapper {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
}

.form-tutorsignup {
  box-shadow: 0 5px 15px rgba(179, 179, 179, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px !important;
  z-index: 3;
}

.terms {
  margin-top: 10px;
  margin-bottom: 10px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .form-tutorsignup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
  }
}

@media (max-width: 1075px) {
  .signup-wrapper {
    width: 50%;
  }
}

@media (max-width: 705px) {
  .signup-wrapper {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .signup-wrapper {
    width: 90%;
  }
}
