.studentsignup-main {
  height: 100%;
  background-image: url(../../assets/images/studentsignup.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;
}

.signup-wrapper {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
}

.form-studentsignup {
  box-shadow: 0 5px 15px rgba(179, 179, 179, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px !important;
  z-index: 3;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .form-studentsignup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
  }
}

